		
	{{#if @config.custom.backgroundPicture}}
		<div id="background-image-container">
			<img src="{{@config.custom.backgroundPicture}}" id="background-image" {{lazyload "lazy"}} 
				alt="" style="opacity: {{@config.custom.backgroundPictureOpacity}};">
		</div>
	{{/if}}

	</body>
	
</html>