
	</div> <!-- End of content-columns -->
	<footer> <!-- Start footer content -->

<p>
I have published this website using the <a href="https://getpublii.com">Publii</a> blogging tool.<br/>
The <a href="https://github.com/t79/publii-theme-test">theme</a> have I made myself. 
</p>

	</footer> <!-- End of footer content -->
	</div>  <!-- End of content-container -->

	{{#if @config.custom.backgroundPicture}}
			<div id="background-image-container">
				<img src="{{@config.custom.backgroundPicture}}" id="background-image" 
					{{lazyload "lazy"}} alt="">
			</div>
	{{/if}}

	</body>
	
</html>