
<p>
I have published this website using the <a href="https://getpublii.com">Publii</a> blogging tool.<br/>
The <a href="https://github.com/t79/publii-theme-test">theme</a> have I made myself. 
</p>

	</body>
	
</html>