{{> head}}

	<!-- Adding the post -->
	{{#post}}
		<h1>{{{title}}}</h1>
		
		{{{text}}}
		
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>
		<script src="{{js 'contact-form.js'}}"></script>
		
		<form>
			<!-- reCaptcha 'config', calling onSubmit() when test passes -->
			<div id='recaptcha' class="g-recaptcha"
          		data-sitekey="6LeiSOkbAAAAADbPIZ-N25jlqd7jTnCrc1UphtpE"
          		data-callback="onSubmit"
          		data-size="invisible">
          	</div>
			<textarea id="form-input-message" placeholder="... (required)"
				onkeyup="checkRequirements()"></textarea>
			<input type="text" id="form-input-name" placeholder="name" />
			<input type="email" id="form-input-email" placeholder="email" />
			
			<input type="checkbox" id="form-consent" onclick="checkRequirements()"/>
			<label for="form-consent">
				You consent that this message is sent by email to the owner 
				of this website and that he can make contact once if that is possible. 
				You are not required to send any personal information. 
				If any, you consent that it for an indefinite time are stored 
				in an email archive. The receiver is not a company, 
				and this will not be used for marketing or commercial use 
				whiteout further notice.
			</label>
			
			<button id="form-button-submit">Submit</button>
		</form>
		
	{{/post}} <!-- End of post -->
	
{{> footer}}