
html {
	font-size: 14px;
	height: 100vh;
	width: 100vw;
}

body {
	font-size: var(--base-font-size);
	font-family: Verdana, sans-serif;
	color: var(--base-text-color);
	background-color: var(--background-color);
}

/* background image */

#background-image-container {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	overflow: hidden;
	z-index: -2;
}

#background-image {
	width: 100vw;
    height: 100%;
    object-fit: cover;
    display: block;
    overflow: hidden;
    opacity: var(--background-image-opacity);
}